<%= data._id %>
<img class="indiv-image" src="<%= data.image %>"></img>
    <div class="indiv-text">
    <h2 class="indiv-name"><%= data.name %></h2>
    <div class="indiv-desc"><%= data.desc %></div>
    <div class="indiv-stock">In stock: <%= data.stock %></div>
<a class="view-all" href="/product">View All </a>
<a class="checkout" href="/checkout">View All </a>